*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #1e1e1e; 
  color: #eaeaea;
  height: 100vh;
}

/* app container styling  */

#app{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
}



/* left-toolbar styling  */

#left-toolbar{
  width: 64px;
  background-color:  #2c2c2c;
  border-right: 1px solid #3a3a3a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

#left-toolbar span{
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
  background-color: rgb(79, 143, 216);
  border-radius: 5px;
  padding: 5px;
  transition: scale 0.4s linear;
}

#left-toolbar span:active{
  scale: 0.5;
}





/* workspace styling  */

#workspace{
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e1e1e;
}




/* #canvas styling  */
#canvas{
 width: 900px;
  height: 600px;
  background-color: #252525;
   background-image:
    linear-gradient(#2f2f2f 1px, transparent 1px),
    linear-gradient(90deg, #2f2f2f 1px, transparent 1px);
  background-size: 20px 20px;
  border: 1px solid #555;
  position: relative;
}




/* right sidebar styling  */

#right-sidebar{
  width: 280px;
  background-color: #2c2c2c;
  border-left: 1px solid #3a3a3a;
  padding: 10px;
  overflow-y: auto;
}



/* during select an element styling   */

.selected {
  outline: 2px solid #4f8cff;
  outline-offset: 2px;
}




/*  handler resize  */

.resize-handle {
  width: 8px;
  height: 8px;
  background: white;
  border: 1px solid #4f8cff;
  position: absolute;
}

[data-type="text"] .resize-handle {
  background: #4f8cff;
}

.resize-handle.tl { top: -4px; left: -4px; cursor: nwse-resize; }
.resize-handle.tr { top: -4px; right: -4px; cursor: nesw-resize; }
.resize-handle.bl { bottom: -4px; left: -4px; cursor: nesw-resize; }
.resize-handle.br { bottom: -4px; right: -4px; cursor: nwse-resize; }







/* for rotate handler  */

.rotate-handle {
  width: 10px;
  height: 10px;
  background: #4f8cff;
  border-radius: 50%;
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  cursor: grab;
}


.selected {
  transform-origin: center;
}