*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #1e1e1e; 
  color: #eaeaea;
  height: 100vh;
}

/* app container styling  */

#app{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
}



/* left-toolbar styling  */

#left-toolbar{
  width: 64px;
  background-color:  #2c2c2c;
  border-right: 1px solid #3a3a3a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

#left-toolbar span{
  font-size: 1.5rem;
  font-weight:100;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px;
  transition: scale 0.4s linear;
}

#left-toolbar span i{
  color: rgb(143, 139, 139);
   font-weight:100;
}

#left-toolbar span:active{
  scale: 0.5;
}





/* workspace styling  */

#workspace{
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e1e1e;
}




/* #canvas styling  */
#canvas{
 width: 1200px;
  height: 700px;
  background-color: #252525;
   background-image:
    linear-gradient(#2f2f2f 1px, transparent 1px),
    linear-gradient(90deg, #2f2f2f 1px, transparent 1px);
  background-size: 20px 20px;
  border: 1px solid #555;
  position: relative;
}





/* during select an element styling   */

.selected {
  outline: 2px solid #4f8cff;
  outline-offset: 2px;
}




/*  handler resize  */

.resize-handle {
  width: 8px;
  height: 8px;
  background: white;
  border: 1px solid #4f8cff;
  position: absolute;
}

[data-type="text"] .resize-handle {
  background: #4f8cff;
}

.resize-handle.tl { top: -4px; left: -4px; cursor: nwse-resize; }
.resize-handle.tr { top: -4px; right: -4px; cursor: nesw-resize; }
.resize-handle.bl { bottom: -4px; left: -4px; cursor: nesw-resize; }
.resize-handle.br { bottom: -4px; right: -4px; cursor: nwse-resize; }







/* for rotate handler  */

.rotate-handle {
  width: 10px;
  height: 10px;
  background: #4f8cff;
  border-radius: 50%;
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  cursor: grab;
   box-sizing: border-box;
}


.selected {
  transform-origin: center;
}




   /* PROPERTIES PANEL Sidebar styling start from here  */


#properties-panel {
  width: 280px;
  background-color: #2c2c2c;
  border-left: 1px solid #3a3a3a;
  padding: 20px;
  overflow-y: auto;

}

/* Title */
#properties-panel > h3 {
  color: #b5b0aa;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 50px;
}

/* Labels */
#properties-panel label {
  display: block;
  font-size: 11px;
  color: #9a948c;
  margin-bottom: 12px;
}

/* Number inputs */
#properties-panel input[type="number"] {
  width: 100%;
  padding: 6px 8px;
  border-radius: 6px;
  background-color: #1f1f1f;
  color: #eaeaea;
  border: 1px solid #3a3a3a;
  outline: none;
  font-size: 13px;
  margin-bottom: 30px;
}

#properties-panel input[type="number"]:focus {
  border-color: #4f8cff;
}


#properties-panel input{
  margin-bottom: 30px;
}



/* Background color picker */
#properties-panel input[type="color"] {
  width: 100%;
  height: 36px;
  padding: 0;
  border-radius: 6px;
  border: 1px solid #3a3a3a;
  background-color: transparent;
  cursor: pointer;
 margin-bottom: 30px;
}

/* Remove ugly default color picker padding */


#properties-panel input[type="color"] {
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  height: 32px;
  border-radius: 6px;
  border: 1px solid #3a3a3a;
  background: #1f1f1f;
}



#properties-panel input[type="color"] {
  width: 100%;
  height: 32px;
  padding: 2px;
  border-radius: 6px;
  border: 1px solid #3a3a3a;
  background-color: #1f1f1f;
  cursor: pointer;
}







/* Text properties section */
#text-props {
  display: none;

}

#text-props textarea {

  width: 100%;
  height: 60px;
  resize: none;
  padding: 6px 8px;
  border-radius: 6px;
  background-color: #1f1f1f;
  color: #eaeaea;
  border: 1px solid #3a3a3a;
  outline: none;
  font-size: 13px;
  margin-bottom: 30px;
}

#text-props textarea:focus {
  border-color: #4f8cff;
}


#text-align-icon-container{
  display: flex;
  width: 70%;
  justify-content: space-between;
  align-items: center;
}

#text-align-icon-container>span{
  background-color: rgb(23,24,25);
  padding: 10px;
  border-radius: 32px;
  cursor: pointer;
}


/* layer panel css start from here  */


#layers-panel {
  display: flex;
  flex-direction: column;
  gap: 6px;

}



.layer-item {
  padding: 6px 8px;
  font-size: 12px;
  background: #1f1f1f;
  border: 1px solid #3a3a3a;
  cursor: pointer;

}

.layer-item.active {
  border-color: #4f8cff;
  background: #2a3f66;
}

#layer-controls {
  display: flex;
  gap: 8px;
}

#layer-controls button {
  flex: 1;
  padding: 6px;
  background: #2c2c2c;
  color: #eaeaea;
  border: 1px solid #3a3a3a;
  cursor: pointer;
  transition: scale 0.7s linear;
  margin-top: 14px;
}

#layer-controls button:active{
  scale: 0.5;
}



/* export panle styling */



#properties-panel button {
  width: 100%;
  padding: 8px 10px;
  margin-bottom: 30px;

  background-color: #1f1f1f;
  color: #eaeaea;

  border: 1px solid #3a3a3a;
  border-radius: 6px;

  font-size: 12px;
  cursor: pointer;

  transition: background-color 0.2s ease, border-color 0.2s ease;
}

#properties-panel button:hover {
  background-color: #2a2a2a;
  border-color: #4f8cff;
}

#properties-panel button:active {
  background-color: #1a1a1a;
}
